body {
    background-color:lightgray;
}

h1{
    text-decoration: underline;
    font-size: 30px;
}

#personal-desc{
    font-weight: bold;
    font-size: 16px;
}

.social-link{
    font-weight: bold;
}

#project-title{
    font-size: 20px;
    font-weight: bold;
}


